<!-- index.njk -->
{% extends "layout.njk" %}

{% set activePageId = "about" %}

{% block title %}
    Home
{% endblock %}
{% block content %}
    <h1>About</h1>
    <p>I am the about page</p>
{%  endblock %}