<!-- index.njk -->
{% extends "layout.njk" %}

{% set activePageId = "contact" %}

{% block title %}
    Home
{% endblock %}
{% block content %}
    <h1>Contact</h1>
    <p>I am the contact page</p>
{%  endblock %}