<!-- index.njk -->
{% extends "layout.njk" %}

{% set activePageId = "home" %}

{% block title %}
    Home
{% endblock %}
{% block content %}
    <h1>Home</h1>
    <p>I am the home page</p>
    <p> 
      <img src="images/testimage.jpg" alt="Test Image"/>
    </p>
{%  endblock %}