body {
  font-family: sans-serif;
  padding: 0;  
  margin: 0;
  background-color: #f7f7f7;
}

main, nav {
  margin: 20px 50px;
  padding: 10px 50px;
  background-color: white;
}

nav {
  li {
    &.active {
      a {
        background-color: red;
      }
    }
  }
}